/* line 106, ../../../../.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 17, ../../sass/party.scss */
* {
  box-sizing: border-box;
}

/* line 21, ../../sass/party.scss */
html {
  margin: 0;
  padding: 0;
}

/* line 26, ../../sass/party.scss */
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/* line 33, ../../sass/party.scss */
.container {
  text-align: center;
  max-width: 30rem;
  padding: 1.5rem;
  margin: 0 auto;
}

/* line 40, ../../sass/party.scss */
header {
  text-align: center;
}

/* line 44, ../../sass/party.scss */
h1 {
  font-weight: 300;
  font-size: 1.25rem;
  margin: 0;
}

/* line 50, ../../sass/party.scss */
h2 {
  font-size: 1.25rem;
  margin: 0;
}

/* line 55, ../../sass/party.scss */
.beer {
  margin: 0.75rem 0;
  font-size: 3rem;
  line-height: 3rem;
}

/* line 61, ../../sass/party.scss */
table {
  width: 100%;
  text-align: left;
  border: 1px solid #F9CC3D;
  border-width: 1px 0;
  margin: 1.5rem 0;
  padding: 0;
  border-spacing: 0px;
  border-collapse: separate;
}

/* line 72, ../../sass/party.scss */
tr {
  height: 47px;
}
/* line 76, ../../sass/party.scss */
tr:last-child td {
  border-bottom: 0;
}

/* line 82, ../../sass/party.scss */
td {
  padding: 0;
  border-bottom: 1px solid #eee;
}
/* line 86, ../../sass/party.scss */
td span {
  font-weight: 800;
}

/* line 91, ../../sass/party.scss */
.sm {
  display: none;
}

/* line 95, ../../sass/party.scss */
.lg {
  display: table;
}

/* line 99, ../../sass/party.scss */
iframe {
  width: 100%;
  height: 350px;
}

@media (max-width: 420px) {
  /* line 105, ../../sass/party.scss */
  .container {
    padding: 0 1.5rem;
  }

  /* line 109, ../../sass/party.scss */
  tr {
    height: 72px;
  }

  /* line 113, ../../sass/party.scss */
  td span {
    display: block;
  }

  /* line 117, ../../sass/party.scss */
  .sm {
    display: table;
  }

  /* line 121, ../../sass/party.scss */
  .lg {
    display: none;
  }
}
